<h3>Your projects</h3>

<% @projects.each do |project| %>
        <p><%= link_to project.name, project %></p>
<% end %>

<br>

<%= link_to 'Create new Project', new_project_path, class: 'btn btn-default' %>
