<div class="col-md-5">
<h3><%= @project.name %></h3>
<p>
  <strong>Team:</strong>
  <%= link_to @project.team.name, @project.team %>
</p>
</div>
<div class="col-md-7">
    <br>
<%= link_to 'Edit project', edit_project_path(@project), class: 'btn btn-default' %>
<%= link_to 'Delete project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
