@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'select2';
@import 'select2-bootstrap';
@import 'fullcalendar';

main {
    padding: 50px;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #1abc9c;
    border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2ecc71;
}

.navbar .divider {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid;
    border-left: 1px solid;
}

.navbar-inverse .divider,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #16a085;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider {
        display: none;
    }
}

.btn-default, .btn-default:visited {
    color: #fff;
    background-color: #1abc9c;
    border-color: #16a085;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #2ecc71;
    border-color: #27ae60;
}

.btn {
    margin: 1px 0px;
}

.tooltip > .tooltip-inner {
    background-color: #B3E8DE;
    color: #16a085;
}

.tooltip > .tooltip-arrow {
    border-bottom: 5px solid #B3E8DE !important;
}

.no-padding {
    padding: 0;
}

.well {
    background-color: #E8FCF8;
    border-color: #B3E8DE;
    margin: 5px;
}

.well p strong a, .well p strong a:visited {
    color: black;
}
